body
{
  background: #ccc;
}
#Header
{
  color: #ccc;
  font-size:20px;
  font-family: 'Roboto Slab', serif;
}
#Header:hover
{
  color: #fff;
}
#bg
{
  background:url("portfolio-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}
#About
{
  margin-top: -200px;
}
#About .fa
{
  color: white;
}
#About .fa:hover
{
  color:blue;
}
